@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
 font-family: 'Muli', sans-serif;
}


 /* -- HEADER -- */
.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background: #F2F2F2;
  color: #BA55D3;
  padding: 30px 0;
  text-align: center;
 font-family: 'Dancing Script', cursive;
 margin-bottom: 0;
}

.navbar{
 /* background: #2E9AFE;*/
 background-color: black;
  border-color: transparent;


}

.navbar-default .navbar-nav > .active > a{
  color:white;
}

.navbar-default .navbar-nav > li > a{
  color:white;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background-color: #6E6E6E;
}
/* -- POST -- */
.main {
  margin-top: 20px;
  margin-bottom: 20px;

}



.post {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.post-title{
  color: #333;
}
.post .post-title a {
  color: #333;
}

.post .thumb {
  margin-right: 10px;
  width: 40%;
}

.post .thumb img {
  width: 100%;
}

.post .contenedor-botones {
  width: 100%;
}

.page h2{
  text-align: center;
}

.page p{
  padding: 5px;
}

.page img{
 width: 700px;
 margin: 10px 40px 10px 50px;
}

.data{
  font-size: 11px;

}



footer{
  background-color: #F2F2F2;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}


/* -- Media Querie -- */
@media screen and (max-width: 768px) {
  .post .thumb {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}